*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.mainimgdiv {
	height: 40vh;
	width: 100%;
	background-image: url("images/denis-degioanni-9wH624ALFQA-unsplash.jpg");
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}

.titlediv h1, h3{
	text-align: center;
	color: white;
	text-shadow: 2px 2px #000000;
}

h1 {
	font-size: 3.5rem;
}

h3{
	font-size: 2rem;
}

nav {
	font-weight: 800;
	font-size: 1.3rem;
	display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

nav a{
	color: black;
	text-decoration: none !important;
}

footer {
		width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424B55;
    padding: 10px;
}

footer i{
    font-size: 3rem;
    color: white;
    margin: 0 1rem;
}

.centeredtext {
	text-align: center;
	padding: 20px;
}

.centeredtext h4 {
	font-size: 1.5rem;
	font-style: italic;
}

.projwrapdiv {
	display: flex;
	flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.proj {
	padding-bottom: 20px;
}

.proj h5 {
	font-size: 1.2rem;
}

.proj a{
	font-style: italic;
}

.projimg {
	height: 20vh;
	width: 30vh;
}